"use strict";
if( !(process.env.NODE_ENV) || !(process.env.NAME) ){
	var path	= require('path');
	var Env 	= require('dotenv').config({path: path.join(__dirname,'../../.env')});
}

const dbConfigs = {
	"development": {
		"username": "root",
		"password": null,
		"database": "database_development",
		"host": "127.0.0.1",
		"dialect": "postgres",
		"port": 5432
	},
	"test": {
		"username": "root",
		"password": null,
		"database": "database_test",
		"host": "127.0.0.1",
		"dialect": "postgres",
		"port": 5432
	},
	"production": {
		"username": "root",
		"password": null,
		"database": "database_production",
		"host": "127.0.0.1",
		"dialect": "postgres",
		"port": 5432
	}
};

module.exports = dbConfigs[ process.env.NODE_ENV ];
