import { Column, CreatedAt, DataType, Model, Scopes, Table, UpdatedAt } from 'sequelize-typescript';
// only for debugging
// import { dd } from "../Sys/Debug";

@Scopes({
	default: { attributes: ['id',{{attributesArr}}] },
	full: { attributes: ['id',{{attributesArr}}'CreatedAt', 'UpdatedAt'] },
})
@Table({
	tableName: '{{tableName}}',
})
export default class {{Module}}Model extends Model<{{Module}}Model> {

	// UUID Type
	@Column({
		allowNull: false,
		primaryKey: true,
		type: DataType.UUID,
		defaultValue: DataType.UUIDV4,
	})
	id: string;

	// integer Type
	/*
	@Column({
		allowNull: false,
		primaryKey: true,
		autoIncrement: true,
		type: DataType.BIGINT,
	})
	id: number;
	*/

{{attrDeclarations}}
	@CreatedAt
	createdAt: Date;

	@UpdatedAt
	updatedAt: Date;
}

