import { i{{Module}} } from '../Model/{{module}}';
// only for debugging
// import Debug from '../Sys/Debug';

export default class {{Module}} implements i{{Module}}{
	public _id:string;
{{propDefinition}}
	constructor(params=null){
		this._id = params._id;
{{propAssign}}	}
}
