// only for debugging
// import { dd } from '../Sys/Debug';

export class {{Module}} {
	public id: string;{{propDefinition}}
	public createdAt: Date;
	public updatedAt: Date;

	constructor(params = null) {
		this.id = params.id;{{propAssign}}
		this.createdAt = params.createdAt;
		this.updatedAt = params.updatedAt;
	}
}
