import { {{Module}} } from '../Model/{{Module}}';
import { IfullRepository } from '../Sys/interfaces';
// only for debugging
// import { dd } from '../Sys/Debug';

export class {{Module}}Repository implements IfullRepository {
	async GetById({ id = null, scope = 'default' }): Promise<any> {
		return await {{Module}}.scope( scope ).findById(id);
	}

	async findOne(params, scope: string = 'default'): Promise<any> {
		return await {{Module}}.scope( scope ).findOne(params);
	}

	async GetAll({ where = {}, limit = null, offset = null, sort = [], scope = 'default' }): Promise<any> {
		const Wh = {where, limit, offset, order: sort};

		return await {{Module}}.scope( scope ).findAndCountAll(Wh);
	}

	async Create(params): Promise<any> {
		return await {{Module}}.create(params);
	}

	async Update(params): Promise<any> {
		const {
			id = null,
{{letDeclarations}}} = params;
		const Entity = await {{Module}}.findById(id);

		if (!Entity) { return `non-existent Entity with id: ${id}`; }

{{valAssignations}}
		return await Entity.save();
	}

	async Delete(id): Promise<any> {
		const Wh = {
			where: {id}
		};
		return await {{Module}}.destroy(Wh);
	}
}
