import { Router, Request, Response, NextFunction } from 'express';
import { plural } from 'pluralize';
import { IRestFull } from '../../Sys/interfaces';
import HandlerUtility from '../../Sys/HandlerUtility';
import restJwtAuth from '../../Middleware/restJwtAuth';
import {{Module}}Controller from '../../Controller/{{Module}}';
// only for debugging
// import { dd } from '../../Sys/Debug';

/* {{module}} Handler Class */
class {{Module}}Handler implements IRestFull {

	/**
	* Mandatory Properties Description
	* name:		this Handler's Name
	* path:		the path that this handlerClass will manage
	* router:	the ExpressRouter itself to fill
	*/
	name = '{{module}}';
	path = `/api/v1/${plural(this.name)}`;
	router: Router = Router();

	constructor(){
		// Attach handlers to express Router
		this.router
		.get('/', restJwtAuth, this.getAllHandler.bind( this ) )
		.get('/:id', restJwtAuth, this.getOneHandler.bind( this ) )
		.post( '/', restJwtAuth, this.postHandler.bind( this ) )
		.put('/:id', restJwtAuth, this.putHandler.bind( this ) )
		.delete('/:id', restJwtAuth, this.deleteHandler.bind( this ) )
		;
	}

	get controller(){
		return new {{Module}}Controller;
	}

	get handlerUtility( ): HandlerUtility {
		return new HandlerUtility;
	}

	getAllHandler( req: Request, res: Response, next: NextFunction ): Promise<Response> {
		const handUtil = this.handlerUtility;
		handUtil.middlewareParams = [req, res, next];
		const params = handUtil.getRequestParams('query');

		return this
		.controller
		.listAction( params )
		.then( handUtil.SuccessJsonResponse.bind( this ) )
		.catch( handUtil.ErrorJsonResponse.bind( this ) );
	}

	getOneHandler( req: Request, res: Response, next: NextFunction ): Promise<Response> {
		const handUtil = this.handlerUtility;
		handUtil.middlewareParams = [req, res, next];
		const params = handUtil.getRequestParams('params');

		return this
		.controller
		.showAction( params )
		.then( handUtil.SuccessJsonResponse.bind( this ) )
		.catch( handUtil.ErrorJsonResponse.bind( this ) );
	}

	postHandler( req: Request, res: Response, next: NextFunction ): Promise<Response> {
		const handUtil = this.handlerUtility;
		handUtil.middlewareParams = [req, res, next];
		const params = handUtil.getRequestParams('body');

		return this
		.controller
		.createAction( params )
		.then( handUtil.SuccessJsonResponse.bind( this ) )
		.catch( handUtil.ErrorJsonResponse.bind( this ) );
	}

	putHandler( req: Request, res: Response, next: NextFunction ): Promise<Response> {
		const handUtil = this.handlerUtility;
		handUtil.middlewareParams = [req, res, next];
		const params = handUtil.getRequestParams('params,body');

		return this
		.controller
		.editAction( params )
		.then( handUtil.SuccessJsonResponse.bind( this ) )
		.catch( handUtil.ErrorJsonResponse.bind( this ) );
	}

	deleteHandler( req: Request, res: Response, next: NextFunction ): Promise<Response> {
		const handUtil = this.handlerUtility;
		handUtil.middlewareParams = [req, res, next];
		const params = handUtil.getRequestParams('params');

		return this
		.controller
		.deleteAction( params )
		.then( handUtil.SuccessJsonResponse.bind( this ) )
		.catch( handUtil.ErrorJsonResponse.bind( this ) );
	}
}

export default new {{Module}}Handler;
