doctype html
html
	head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="")
	meta(name="author" content="")
	link(rel="icon" href="./favicon.ico")
	title= title || "OnMessage – Discovery Engine"
	link(rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css")
	link(rel="stylesheet" href="./assets/css/signin.css")

	body
		block content
